header {
    width: 100%;
    /* height: 80px; */
    padding: 24px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 1px 6px 3px red; */

    box-shadow: 0px 1px 6px 1px rgb(179, 179, 179);


    background-color: rgba(78, 0, 38);
    /* background-color: rgb(25,28,58); */
    color: rgb(255, 231, 208);
    position: relative;
    /* border-bottom: 6px solid red; */
    /* background: linear-gradient(180deg,  red, white 90%); */
}

header>.mrsptu-title {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header>.divider {
    width: 50%;
    height: 4px;
    margin-top: 8px;
    margin-bottom: 4px;

    /* background: linear-gradient(90deg, white 0%, black 10% , black 90%, white 100%); */

}

header>.yft-title {
   
    background: linear-gradient(90deg, rgba(255, 196, 0, 0) 0%, rgba(255, 231, 208,0.9) 10%, rgba(255, 231, 208,0.9) 90%, rgba(255, 196, 0, 0) 100%);
    padding: 4px;
    padding-left: 64px;
    padding-right: 64px;
    width: 45%;
    letter-spacing: 1px;
    text-align: center;

    font-size: 20px;
    color: rgba(78, 0, 38);

}